################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
###############################################################################

*.bak
*.~u
*.tmc
*.tpy
*.suo
*.TrialLicense.tclrs
*.compileinfo
*.compiled-library
*_Boot
*.engineering_servers
/.git_bkup/
/OCBref/OCBref/OCB/OCB.tmc
/OCBref/OCBref/OCB/OCB.tpy
/OCBref/OCBref/OCB/*.tpy
/OCBref/OCBref/OCB/*.tmc

/OCBref/OCB/OCB.tmc
/OCBref/OCB/OCB.tpy
/TestBeds/CPJ4/CPJ4_Sim/ColdProcessJig/_Boot
/TestBeds/CPJ4/CPJ4_Sim/ColdProcessJig/TrialLicense.tclrs
/TestBeds/CPJ4/CPJ4_HMI/.engineering_servers
/TestBeds/CPJ4/Configurations/Yael/ColdProcessJig/*.tclrs
/TestBeds/CPJ4/Configurations/Yaniv/ColdProcessJig/TrialLicense.tclrs
/WEB/Narrow/Kedem/Configurations/Simulation/Kedem_Sim/TrialLicense.tclrs
/TestBeds/WEB_G/Configurations/AyaGWithILP_Lab/AyaG_Lab/SafePLC_old_w4elx4re/TwinSafeGroup1/TwinSafeGroup1.sal.diagram
/TestBeds/WEB_G/Configurations/AyaGWithILP_Lab/AyaG_Lab/SafePLC_old_w4elx4re/TwinSafeGroup1/TwinSafeGroup1.sal
/TestBeds/WEB_G/Configurations/AyaGWithILP_Lab/AyaG_Lab/SafePLC_old_w4elx4re/SafePLC.splcProj
/TestBeds/CPJ4/Configurations/YanivNew/Kedem_Sim/TrialLicense.tclrs
/References/OCB_refPLC/OCB_refPLC/OCB/_CompileInfo/*.bootinfo
/References/OCB_refPLC/OCB_refPLC/OCB/_CompileInfo/*.bootinfo_guids
